.image{
  background-image: url("../img/tekstura-ponchiki-fon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 50px;
}
p{
  margin-left: 20px;
}
h1{
  font-size: 35px;
  margin-left: 20px;
}
h2{
  margin-left: 20px;
}
h3{
  margin-left: 20px;
}
script{
  margin-left: 20px;
}
#codesection{
  background-color: #f3b563;
}
#section {
  font-family: monospace;
  border: solid 10px #9bcec4;
  background: white;
}
