.image{
  background-image: url("../img/pokemon_background_by_baddarn_d4sel13-fullview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 20px;
}
p{
  margin-left: 20px;
}
h1{
  font-size: 35px;
  margin-left: 20px;
}
h2{
  margin-left: 20px;
}
h3{
  margin-left: 20px;
}
script{
  margin-left: 20px;
}
#section {
  font-family: monospace;
  border: solid 10px #564e71;
  background: white;
}
#codesection{
  font-family: monospace;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f9d2d2;
}
#bold{
  font-weight: bold;
}
#output{
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-family: monospace;
  list-style-type: disc;
}
#my-button{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
