.image{
  background-image: url("../img/184481.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 20px;
}
p{
  margin-left: 20px;
}
h1{
  font-size: 35px;
  margin-left: 20px;
}
h2{
  margin-left: 20px;
}
h3{
  margin-left: 20px;
}
script{
  margin-left: 20px;
}
#section {
  font-family: monospace;
  border: solid 10px #3d1c12;
  background: white;
}
#bold{
  font-weight: bold;
}
#output{
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  font-family: monospace;
  list-style-type: disc;
}
